@font-face {
  font-family: "iconfont"; /* Project id 3552715 */
  src: url('iconfont.woff2?t=1658986264464') format('woff2'),
       url('iconfont.woff?t=1658986264464') format('woff'),
       url('iconfont.ttf?t=1658986264464') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e7ae";
}

.icon-password:before {
  content: "\e682";
}

.icon-login:before {
  content: "\e67e";
}

.icon-login_captcha:before {
  content: "\e65d";
}

